body {
    background-color: #2f2f30;
    color: bisque;

}
.txtclrbrwn{
    color: #2f2f30;
    

}
.orgbtn{
    background-color:rgb(255, 121, 4);
    color: #2f2f30;

}

.txtclrorg{
    color: rgb(255, 121, 4);
}

.cardbgtxtclr{
    background-color: bisque;
    color: #2f2f30;

}
.herosecbtn{
    color: bisque;

}
.resbrwbtn{
    background-color:#2f2f30 ;
    color: bisque;
}



